.navbar {
    border-color: {{ .Site.Params.first_border_color }};
}

.navbar a:link,
.navbar-default .navbar-nav>li>a {
  color: {{ .Site.Params.header_link_color }};
}

.navbar a:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: {{ .Site.Params.header_link_hover_color }};
}

body {
  color: {{ .Site.Params.header_text_color }};
  /*font-family: 'Frank Ruhl Libre', serif;*/
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Frank Ruhl Libre', serif;
}

.header-container h1,
.header-container h2,
.header-container h3,
.header-container h4 {
  color: {{ .Site.Params.header_text_color }};
}
